<div class="container mx-auto">
    <div class="flex flex-wrap text-center justify-center items-center">
        <div class="md:w-4/12">
            <img [src]="productdetails.imageCover" class="w-full" alt="">
        </div>
        <div class="md:w-8/12">
            <h1>{{productdetails.title}}</h1>
            <p>{{productdetails.description}}</p>
            <p>{{productdetails.price}}</p>
            <button class="btn block w-full mt-3 px-4 py-2 rounded-md bg-main text-white m-auto">add to cart</button>
        </div>
    </div>

</div>