<div class="container mx-auto mt-10" *ngIf="products && products.length > 0; else emptyCart">
  <div class="sm:flex shadow-md my-10">
    <div class="w-full sm:w-3/4 bg-white px-10 py-10">
      <div class="flex justify-between border-b pb-8">
        <h1 class="font-semibold text-2xl">Shopping Cart</h1>
        <h2 class="font-semibold text-2xl">{{cartData?.numOfCartItems}} items</h2>
      </div>

      <div *ngFor="let p of products; let i = index" class="md:flex items-stretch py-8 md:py-10 lg:py-8 border-t border-gray-50">
        <div class="md:w-4/12 2xl:w-1/4 w-full">
          <img [src]="p.product.imageCover" alt="Product Image" class="w-full h-full object-center object-cover" />
        </div>
        <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
          <p class="text-xs leading-3 text-gray-800 md:pt-0 pt-4">RF293</p>
          <div class="flex items-center justify-between w-full">
            <p class="text-base font-black leading-none text-gray-800">{{p.product.title}}</p>
            <div class="flex items-center">
              <button (click)="updateQuantity(p.count - 1, p.product.id)" class="border rounded-md py-2 px-4 mr-2">-</button>
              <span class="text-center w-8">{{p.count}}</span>
              <button (click)="updateQuantity(p.count + 1, p.product.id)" class="border rounded-md py-2 px-4 ml-2">+</button>
            </div>
          </div>
          <div class="flex items-center justify-between pt-5">
            <div class="flex items-center">
              <p class="text-xs leading-3 underline text-gray-800 cursor-pointer">Add to favorites</p>
              <p (click)="removeCartItem(p.product.id)" class="text-xl font-bold leading-3 underline text-red-600 pl-5 cursor-pointer">
                <i class="fa-solid fa-trash-can"></i>
              </p>
            </div>
            <p class="text-base font-black leading-none text-gray-800">{{p.price * p.count | currency:'EGP'}}</p>
          </div>
        </div>
      </div>

      <a href="#" class="flex font-semibold text-indigo-600 text-sm mt-10">
        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
          <path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
        </svg>
        Continue Shopping
      </a>
    </div>

    <div id="summary" class="w-full sm:w-1/4 md:w-1/2 px-8 py-10">
      <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
      <div class="flex justify-between mt-10 mb-5"></div>
      <div>
        <label class="font-medium inline-block mb-3 text-sm uppercase">Shipping</label>
        <select class="block p-2 text-gray-600 w-full text-sm">
          <option>Standard shipping - $10.00</option>
        </select>
      </div>
      <div class="py-10">
        <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
        <input type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full" />
      </div>
      <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">Apply</button>
      <div class="border-t mt-8">
        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
          <span>Total cost</span>
          <span>{{cartData?.data.totalCartPrice | currency:'EGP'}}</span>
        </div>
        <button [routerLink]="['/checkout', cartData?.cartId]" class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <p class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Your Cart Is Empty</p>
</ng-template>
